* {
  box-sizing: border-box;
  color: white;
  font-family: Assistant;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  background-color: #18191c;
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
  width: 100%;
}
.browser-unsupported {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.browser-unsupported-item {
  text-align: center;
  width: 100%;
}
.browser-unsupported-detail {
  font-size: 12px;
  color: #757a89;
}
#view-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  caret-color: transparent;
}
canvas {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
.window {
  border-radius: 5px;
  position: fixed;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
}
.navbar {
  align-items: center;
  background: rgb(72, 71, 71);
  border-bottom: 0.5px solid #2f2f2f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  width: 100%;
}
.window:not(.focused) > .navbar {
  background: rgb(98, 98, 98);
  border-bottom: none;
}
.navbar * {
  margin: 3px;
}
.navbar .title {
  color: #fff;
  flex: 1 1 auto;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar img {
  flex: 0 0 auto;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.animated .navbar img {
  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.navbar img:hover {
  filter: invert(0.35);
}
button {
  background: rgb(83, 82, 82);
  border: 0.5px solid rgb(35, 34, 34);
  border-radius: 5px;
  padding: 3px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-0.5px);
  box-shadow: 0px 0.5px rgba(0, 0, 0, 0.9), 0px 3px 5px -3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  column-gap: 5px;
}
.animated button {
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.875);
}
.animated button:hover:enabled {
  transform: translateY(-1.5px);
  box-shadow: 0px 1.5px rgba(0, 0, 0, 0.9), 0px 3px 5px -2px rgba(0, 0, 0, 0.6);
}
.animated button:active:enabled {
  transform: translateY(0.2px);
  box-shadow: none;
}
button:hover:enabled {
  filter: brightness(1.3);
}
button:active:enabled {
  filter: brightness(0.8);
}
button.confirm {
  background: rgb(36, 109, 161);
}
button.delete {
  background: rgb(172, 54, 54);
}
button:disabled {
  filter: brightness(0.8);
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.view {
  background-color: #444;
  font-size: 15px;
  overflow: hidden;
}
.animated .view {
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.window.focused .view {
  box-shadow: inset 0px 2px 3px -1px rgb(0, 0, 0, 0.1);
}
.view .padding {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}
.options .title {
  font-size: 17px;
  text-transform: uppercase;
}
.options .section .container {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.options .section .container .label {
  color: #ccc;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.options .section .container .item {
  color: #ccc;
  flex: 0 0 auto;
  margin-left: 5px;
}
.section + .title {
  border-top: solid 1px #555;
  margin-top: 10px;
  padding-top: 10px;
}
.exiting {
  filter: blur(20px);
  opacity: 0;
}
.animated .exiting {
  transition: 0.04s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}
.folder > .children {
  margin-left: 20px;
}
.folder.collapsed > .children {
  display: none;
}
.item .info {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.item .info .title {
  background: none;
  border: none;
  border-radius: 5px;
  flex: 1 1 auto;
  outline: none;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.folder.collapsed > .info > .folder-icon {
  transform: rotate(-90deg);
}
.pref-label.collapsed > .folder-icon {
  transform: rotate(-90deg);
}
.animated .folder-icon {
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
img.icon {
  filter: invert();
  height: 15px;
}
.dir-selector {
  background-color: #373737;
  border-radius: 5px 5px 0px 0px;
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 5px;
}
.file-options {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  background-color: #333;
  margin-bottom: 5px;
  padding: 4px;
  border-radius: 0px 0px 5px 5px;
}
.info.disabled > .title {
  color: #888;
  -webkit-text-fill-color: #888;
}
.info.disabled > .icon {
  opacity: 0.3;
}
.info.selected {
  background-color: #555;
}
.info.selected:hover {
  background-color: #555;
}
.info:hover {
  background-color: #454545;
}
.options-icon {
  display: none;
}
.info:hover > .options-icon {
  display: block;
  opacity: 0.3;
}
.info.selected > .options-icon {
  display: block;
  opacity: 0.3;
}
.item .info .title:focus {
  background-color: #333;
  color: white !important;
}
textarea {
  -moz-user-select: none;
  -webkit-user-select: none;
  resize: none;
  user-select: none;
}
.dir-selector:empty::before {
  color: #999;
  content: "No files! Add a file by dragging a folder/file or using the buttons below.";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-options {
  display: flex;
  margin-top: 5px;
  flex: 0;
  justify-content: space-between;
}
.menu-left {
  display: flex;
  width: 50%;
}
.menu-right {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}

.outlined {
  box-shadow: inset 0 0 3px 2px rgba(16, 98, 156, 0.8);
}
.outlined > .info {
  box-shadow: inset 0 0 3px 2px rgba(16, 98, 156, 0.8);
}

#menubar {
  display: flex;
  background-color: #555;
}

.menu-item {
  position: relative;
  z-index: 9999;
}

.menu-item > .menu-item-title {
  padding: 4px 0px 4px 0px;
  display: flex;
  align-items: center;
}

#menubar > .menu-item > .title {
  padding: 4px 10px 4px 10px;
}

#menubar .menubar-dropdown {
  display: none;
  background-color: #555;
  border: 1px solid #444;
  position: absolute;
}

#menubar .menu-item:not(.disabled):hover > .menubar-dropdown,
#menubar .menubar-dropdown:not(.disabled):hover {
  display: block;
}

.menu-item .menubar-dropdown .menubar-dropdown {
  left: 100%;
  top: 0;
}

.menu-item-title .title {
  flex: 1;
  margin-left: 10px;
  margin-right: 15px;
  white-space: nowrap;
}

.menu-item-title .keybind,
.menu-item-title .icon {
  margin-right: 10px;
  color: #aaa;
  white-space: nowrap;
}

.menu-item.disabled .menu-item-title .title {
  color: #aaa;
}

.menu-item.checked > .menu-item-title .title {
  font-weight: 800;
}

.menu-item:not(.disabled) > .menu-hover:hover {
  background-color: #666;
}

.seperator {
  border: 0.2px solid #333;
  margin: 4px;
}

.check-icon {
  position: relative;
  right: 16px;
}

.chart-view-scroller {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 4px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.chart-list {
  height: 100%;
  background-color: #373737;
  border-radius: 5px;
  overflow: scroll;
}

.chart-info {
  height: 100%;
  background-color: #373737;
  border-radius: 5px;
  word-break: break-all;
  padding: 15px;
  overflow: scroll;
}

.chart-info:empty::before {
  color: #999;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Select a chart for more details";
}

.chart-list-item {
  display: flex;
  align-items: center;
  border: 0.2px solid rgb(48, 48, 48);
  cursor: pointer;
}

.animated .chart-list-item {
  transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.chart-list-item .action-tray {
  width: 0px;
  flex-shrink: 1;
  flex-basis: 10px;
  border: 0.2px solid #222;
  padding: 4px 0px;
}

.animated .chart-list-item .action-tray {
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.chart-list-item.extended .action-tray {
  flex-basis: 158px;
}

.chart-list-item.selected {
  background-color: rgba(106, 123, 151, 0.4);
}

.chart-list-item:active {
  background-color: rgba(150, 150, 150, 0.45);
}

.chart-list-item:hover {
  background-color: rgba(150, 150, 150, 0.6);
}

.chart-list-item .Beginner {
  background-color: rgb(59, 108, 128);
}
.chart-list-item .Easy {
  background-color: rgb(48, 134, 85);
}
.chart-list-item .Medium {
  background-color: rgb(160, 143, 69);
}
.chart-list-item .Hard {
  background-color: rgb(142, 41, 33);
}
.chart-list-item .Challenge {
  background-color: rgb(139, 27, 158);
}
.chart-list-item .Edit {
  background-color: rgb(117, 117, 117);
}
.chart-list-item > .title {
  padding: 2px 4px;
  text-align: center;
  align-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 25px;
}

.chart-list-item.extended .chart-list-info {
  margin: 0px 0px;
  opacity: 0;
}

.chart-list-info {
  opacity: 1;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0px 5px;
  place-content: space-between;
  min-width: 0px;
  column-gap: 5px;
  flex: 1;
}

.animated .chart-list-info {
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.chart-attributes {
  display: flex;
  padding: 2px 0px;
  padding-right: 2px;
}

.chart-properties {
  display: grid;
  grid-template-columns: 100px minmax(0, 1fr);
  align-items: center;
  flex: 1;
  row-gap: 2px;
  margin-bottom: 12px;
}

.chart-properties ul .label {
  font-weight: bold;
}

.chart-properties ul > *:last-child {
  flex: 1;
}

div.inlineEdit[contenteditable="true"] {
  min-width: 8px;
  text-align: right;
  border-radius: 3px;
  padding: 0px 3px;
  border: 1px solid transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  caret-color: auto;
  cursor: text;
}

div.inlineEdit {
  cursor: default;
}

.animated div.inlineEdit {
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

div.inlineEdit[contenteditable="true"]:hover {
  background: rgb(255, 255, 255, 0.3);
}

div.inlineEdit[contenteditable="true"]:focus {
  background: rgba(114, 114, 114, 0.8);
  outline: none;
  overflow: auto;
  text-overflow: clip;
}

div.inlineEdit::-webkit-scrollbar {
  display: none;
}

.chart-credit,
.chart-difficulty,
.chart-info-grid-label {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chart-step-count {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chart-info-main {
  display: flex;
  font-size: 18px;
  margin-bottom: 5px;
  align-items: center;
  place-content: space-between;
}
.chart-info-grid-item {
  display: flex;
}
.chart-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;
  column-gap: 15px;
  margin-top: 5px;
}

.timing-data > .padding {
  display: grid;
  row-gap: 3px;
  grid-template-columns: auto 170px;
  align-items: center;
}

.timing-data > .padding > div:not(.label) {
  display: flex;
  align-items: center;
  height: 100%;
}

.sm-properties .padding {
  display: flex;
  flex-direction: column;
}

.sm-properties .property-grid {
  display: grid;
  row-gap: 3px;
  grid-template-columns: auto 250px;
  align-items: center;
  flex: 1;
}

.sm-properties .property-grid > div:not(.label) {
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="number"] {
  background: #333;
  border: 1px solid #272727;
  border-radius: 3px;
  padding: 0px 3px;
  flex: 1;
  height: 100%;
}

input:disabled {
  color: #888888;
  pointer-events: none;
}

input:focus {
  outline: 1px solid rgb(16, 98, 156);
}

input.short {
  width: 40px;
}

input.right {
  text-align: right;
}

.chart-view-type-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.dropdown {
  height: 100%;
}

.dropdown.no-border .dropdown-selected {
  border: none;
  padding: 0px;
}

.dropdown.no-border .dropdown-selected:not(:hover)::after {
  opacity: 0;
}

.dropdown-selected {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.animated .dropdown-selected {
  transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dropdown-selected.disabled {
  color: #adadad;
  pointer-events: none;
  cursor: not-allowed;
}
.dropdown-selected:empty {
  display: none;
}

.dropdown.white .dropdown-selected::after {
  filter: invert();
}

.dropdown-selected::after {
  content: "";
  background: right center no-repeat;
  background-size: contain;
  display: absolute;
  width: 12px;
  height: 12px;
  align-self: right;
  flex: 1;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAbklEQVRIie2PMQqAMAxFXwfP6qJVPIjYzcOKdUkhQ0BaCoLkLS3k818CjuN8ztApYzIDl7xvmalFsAIZuIFozKPMMrC0CAJwKIkuGVX5KdkmLEm3ci1JSlLKU49yLSmXVG1es0EANvnvInKcP/AA784fpjlWwNQAAAAASUVORK5CYII=");
}
.dropdown-selected:hover:not(.disabled):not(:active) {
  background: rgb(255, 255, 255, 0.03);
}
.dropdown-selected:active {
  background: rgb(255, 255, 255, 0.08);
}

.dropdown-items {
  position: absolute;
  background: #555;
  max-height: 200px;
  overflow: auto;
  z-index: 5;
  border-radius: 5px;
  height: 0px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.animated .dropdown-items {
  transition: height 0.07s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dropdown-item {
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  white-space: nowrap;
}

.animated .dropdown-item {
  opacity: 0;
  transform: translateY(-10px);
  animation: 0.2s dropdown-enter cubic-bezier(0.175, 0.885, 0.32, 1.575)
    forwards;
  transition: height 0.07s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dropdown-item:hover {
  background: #666;
}

.dropdown-item:active {
  background: #5c5c5c;
}

@keyframes dropdown-enter {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.pref-selector {
  background-color: #373737;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 5px;
  font-size: 15px;
}
.pref-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}
.pref-label:hover {
  background-color: #454545;
}
.pref-dd {
  margin-left: 10px;
}
.pref-label > .title:first-child {
  margin-left: 15px;
}
.pref-label > .title {
  flex: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.flex-column-gap {
  column-gap: 5px;
}
.flex-row-gap {
  row-gap: 5px;
}
.flex-grow {
  flex: 1;
}
.flex-static {
  flex: 0;
}

#blocker {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 10000;
  caret-color: transparent;
}

.spinner {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
}

.spinner-input[type="text"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  flex: 1;
}

.spinner-input:disabled + .spinner-btns {
  pointer-events: none;
}

.spinner-btns {
  display: flex;
  flex-direction: column;
  border: 1px solid #272727;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  flex: 0;
  height: 100%;
}

.spinner-btns button {
  padding: 0 2px;
  flex: 1;
  border-radius: 0;
  height: 100%;
  width: 10px;
  border: none;
  min-width: auto;
}

.spinner-btns button::after {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAbklEQVRIie2PMQqAMAxFXwfP6qJVPIjYzcOKdUkhQ0BaCoLkLS3k818CjuN8ztApYzIDl7xvmalFsAIZuIFozKPMMrC0CAJwKIkuGVX5KdkmLEm3ci1JSlLKU49yLSmXVG1es0EANvnvInKcP/AA784fpjlWwNQAAAAASUVORK5CYII=")
    no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
}

.spinner-btns .spinner-up::after {
  transform: rotate(180deg);
}

.spinner-up {
  background: linear-gradient(0deg, #484848, #444);
}

.spinner-down {
  background: linear-gradient(180deg, #484848, #555);
}

#waterfall {
  position: absolute;
  top: 35px;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 0 10px;
  width: 100%;
  pointer-events: none;
  user-select: none;
  caret-color: transparent;
}

.waterfall-item {
  pointer-events: none;
}

.animated .waterfall-item {
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
  animation: waterfall-enter 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.waterfall-warn {
  color: rgb(246, 202, 57);
  display: inline-block;
  margin-right: 4px;
}

.waterfall-error {
  color: rgb(183, 35, 35);
  display: inline-block;
  margin-right: 4px;
}

@keyframes waterfall-enter {
  from {
    opacity: 0;
    transform: translate(200px, 10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.waterfall-exiting {
  opacity: 0;
  transform: translateX(200px);
}

.confirmation .padding .label {
  flex: 1;
  text-align: center;
}

.confirmation button {
  min-width: 55px;
}

.pref-label > *:last-child {
  max-width: 160px;
  align-content: center;
  display: flex;
}

.pref-label > .spinner {
  max-width: 50px;
}

.pref-label .spinner-input {
  text-align: right;
}

input[type="range"] {
  width: 100px;
  margin-right: 10px;
}

.hide-buttons button {
  display: none;
}

.hide-buttons:hover button,
.hide-buttons div:focus + button {
  display: flex;
}

#status-widget {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  align-items: center;
  height: 96px;
  overflow: hidden;
}

#status-widget.collapsed {
  height: 48px;
}

.playback-bar,
.edit-bar {
  display: flex;
  flex-direction: row;
  height: 48px;
  align-items: center;
  border-radius: 5px;
  justify-content: flex-start;
  width: 100%;
}

#status-widget:not(.collapsed) .playback-bar {
  border-bottom: 1px rgba(55, 55, 55, 0.2) solid;
  box-shadow: 0px 0.5px rgba(20, 20, 20, 0.2),
    0px 3px 5px -3px rgba(20, 20, 20, 0.6);
}

.animated #status-widget {
  transition: 0.3s cubic-bezier(0.11, 0.72, 0.51, 1.14);
}

#status-widget button {
  background: none;
  box-shadow: none;
  transform: none;
  border: none;
  width: 48px;
  height: 48px;
  outline: none;
}

#status-widget button img {
  height: 100%;
}

#status-widget button:hover {
  filter: brightness(0.6);
}
#status-widget button:active {
  filter: brightness(0.4);
}
#status-widget button:disabled {
  filter: brightness(0.2) saturate(0.4);
}

.animated #status-widget button {
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#status-widget .playback-seperator {
  border: 0.5px rgba(134, 134, 134, 0.5) solid;
  height: 30px;
  margin: 0px 2px;
}

#status-widget .playback-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 0px 4px;
}

#status-widget .playback-counter .playback-counter-label {
  font-size: 10px;
  color: #777777;
  pointer-events: none;
}

#status-widget .playback-counter .playback-counter-main {
  font-size: 18px;
  line-height: 18px;
  max-width: 100px;
}

#status-widget .playback-counter .playback-counter-main,
#status-widget .playback-counter .playback-counter-main * {
  padding: 0;
  border: none;
  text-overflow: clip;
  overflow: hidden;
}

#status-widget .edit-fancy-button {
  font-size: 9px;
  pointer-events: none;
  padding: 0px;
  margin: 0px 4px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#status-widget .edit-fancy-button img {
  height: 23px;
}
