* {
  padding: 0;
  margin : 0;
  overflow:hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;

  font-family: Assistant;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: #18191c;
}

.browser-unsupported {
  display:flex;
  width:100%;
  height:100%;
  align-items: center;
  flex-direction: row;
}
.browser-unsupported-item {
  width:100%;
  text-align: center;
  /* flex: 1 1 auto; */
}

.window {
  position: fixed;
  border: 1px solid black;
  border-radius: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(0deg, #333, #555);
  font-size: 15px;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navbar {
  background: linear-gradient(0deg, #373737, #575757);
}

.navbar * {
  margin: 3px;
}

.navbar .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto; 
  padding-left: 5px;
  color: #888;
}

.navbar .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto; 
  padding-left: 5px;
  color: #fff;
}

.navbar img {
  height: 15px;
  width: 15px;
  flex: 0 0 auto;
  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.navbar img:hover {
  filter: invert(0.35);
}

button {
  background: linear-gradient(0deg, #333, #555);
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

button:hover:enabled {
  filter:brightness(1.3);
}

button:active:enabled {
  filter:brightness(0.9);
}

.view {
  background-color: #444;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-size: 15px;
}

.view .padding {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%
}

.options .title {
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
}

.options .section .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options .section .container .label {
  flex: 1 1 auto;
  color: #ccc;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.options .section .container .item {
  flex: 0 0 auto;
  color: #ccc;
  margin-left:5px;
}

.section + .title {
  border-top: solid 1px #555;
  margin-top:10px;
  padding-top:10px;
}

.exiting {
  transition: 0.04s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  filter: blur(20px);
  opacity: 0;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}


.folder > .children {
  margin-left: 20px;
}

.folder.collapsed > .children {
  display:none;
}

.item .info {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.item .info .title {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  flex: 1 1 auto;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: none;
  border: none;
  outline: none;
}

.folder.collapsed > .info > .folder-icon {
  transform: rotate(-90deg);
}

.folder-icon {
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}


img.icon {
  height: 15px;
  filter: invert();
}

.dir-selector {
  overflow: auto;
  background-color: #373737;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  flex: 1;
}

.info.disabled > .title {
  color: #888 ;
}

.info.disabled > .icon {
  opacity:0.3;
}

.info.selected {
  background-color: #555;
}

.info.selected:hover {
  background-color: #555;
}

.info:hover {
  background-color: #454545;
}

.options-icon {
  display: none;
}

.info:hover > .options-icon {
  display: block;
  opacity:0.3;
}

.info.selected > .options-icon {
  display: block;
  opacity:0.3;
}

.item .info .title:focus {
  color: white !important;
  background-color: #333;
}

textarea {
  resize: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dir-selector:empty::before {
  content: "No files! Add a file by dragging a folder/file or using the buttons";
  color: #999;
}

.menu-options {
  display:flex;
  margin-top: 5px;
}
.menu-left {
  display:flex;
  width:50%;
}
.menu-right {
  display:flex;
  width:50%;
  flex-direction: row-reverse;
}

button.confirm {
  background: linear-gradient(0deg, rgb(36, 109, 161), rgb(16, 98, 156) );
}

button:disabled {
  color: #888;
  filter:saturate(0.2)
}

.outlined {
  box-shadow: inset 0 0 3px 2px rgba(16, 98, 156, 0.8) ;
}

.outlined > .info {
  box-shadow: inset 0 0 3px 2px rgba(16, 98, 156, 0.8) ;
}