* {
	box-sizing: border-box;
	color: white;
	font-family: Assistant;
	margin: 0;
	padding: 0;
}
body {
  overflow: hidden;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
	background-color: #18191c;
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
  width: 100%;
}
.browser-unsupported {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}
.browser-unsupported-item {
	text-align: center;
	width: 100%;
}
.browser-unsupported-detail {
  font-size: 12px;
  color: #757a89;
}
#view-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
canvas {
	flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
.window {
	border-radius: 5px;
	position: fixed;
}
.navbar {
	align-items: center;
	background: linear-gradient(0deg, #333, #555);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: flex;
	flex-direction: row;
	font-size: 15px;
	width: 100%;
}
.window:not(.focused) > .navbar {
	background: linear-gradient(0deg, #555, #666);
}
.navbar * {
	margin: 3px;
}
.navbar .title {
	color: #fff;
	flex: 1 1 auto;
	overflow: hidden;
	padding-left: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.navbar img {
	flex: 0 0 auto;
	height: 15px;
	transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
	width: 15px;
}
.navbar img:hover {
	filter: invert(0.35);
}
button {
	background: linear-gradient(0deg, #333, #555);
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
}
button:hover:enabled {
	filter: brightness(1.3);
}
button:active:enabled {
	filter: brightness(0.9);
}
.view {
	background-color: #444;
	font-size: 15px;
	transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.view .padding {
	display: flex;
	flex-direction: column;
	padding: 20px;
  height: 100%;
}
.options .title {
	font-size: 17px;
	text-transform: uppercase;
}
.options .section .container {
	align-items: center;
	display: flex;
	flex-direction: row;
}
.options .section .container .label {
	color: #ccc;
	flex: 1 1 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.options .section .container .item {
	color: #ccc;
	flex: 0 0 auto;
	margin-left: 5px;
}
.section + .title {
	border-top: solid 1px #555;
	margin-top: 10px;
	padding-top: 10px;
}
.exiting {
	filter: blur(20px);
	opacity: 0;
	transition: 0.04s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.unselectable {
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
}
.folder > .children {
	margin-left: 20px;
}
.folder.collapsed > .children {
	display: none;
}
.item .info {
	align-items: center;
	display: flex;
	flex-direction: row;
}
.item .info .title {
	background: none;
	border: none;
	border-radius: 5px;
	flex: 1 1 auto;
	outline: none;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.folder.collapsed > .info > .folder-icon {
	transform: rotate(-90deg);
}
.folder-icon {
	transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
img.icon {
	filter: invert();
	height: 15px;
}
.dir-selector {
	background-color: #373737;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	flex: 1;
	height: 100%;
	overflow: auto;
	padding: 5px;
}
.info.disabled > .title {
	color: #888;
}
.info.disabled > .icon {
	opacity: 0.3;
}
.info.selected {
	background-color: #555;
}
.info.selected:hover {
	background-color: #555;
}
.info:hover {
	background-color: #454545;
}
.options-icon {
	display: none;
}
.info:hover > .options-icon {
	display: block;
	opacity: 0.3;
}
.info.selected > .options-icon {
	display: block;
	opacity: 0.3;
}
.item .info .title:focus {
	background-color: #333;
	color: white !important;
}
textarea {
	-moz-user-select: none;
	-webkit-user-select: none;
	resize: none;
	user-select: none;
}
.dir-selector:empty::before {
	color: #999;
	content: "No files! Add a file by dragging a folder/file or using the buttons above.";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-options {
	display: flex;
	margin-top: 5px;
}
.menu-left {
	display: flex;
	width: 50%;
}
.menu-right {
	display: flex;
	flex-direction: row-reverse;
	width: 50%;
}
button.confirm {
	background: linear-gradient(0deg, rgb(36, 109, 161), rgb(16, 98, 156) );
}
button:disabled {
	color: #888;
}
.outlined {
	box-shadow: inset 0 0 3px 2px rgba(16, 98, 156, 0.8);
}
.outlined > .info {
	box-shadow: inset 0 0 3px 2px rgba(16, 98, 156, 0.8);
}

#menubar {
  display: flex;
  background-color: #555;
}

.menu-item {
  position: relative;
  z-index: 9999;
}

.menu-item > .menu-item-title {
  padding: 4px 0px 4px 0px;
  display: flex;
  align-items: center;
}

#menubar > .menu-item > .title {
  padding: 4px 10px 4px 10px;
}


.dropdown {
  display: none;
  background-color: #555;
  border: 1px solid #444;
  position: absolute;
}

.dropdown > div {
  clear: left;
}

.menu-item:not(.disabled):hover > .dropdown, .dropdown:not(.disabled):hover {
  display: block;
}

.menu-item .dropdown .dropdown {
  left: 100%;
  top: 0
}

.menu-item-title .title {
  flex: 1;
  margin-left: 10px;
  margin-right: 15px;
  white-space: nowrap;
}

.menu-item-title .keybind, .menu-item-title .icon {
  margin-right: 10px;
  color: #aaa;
  flex: 0;
}

.menu-item.disabled .menu-item-title .title {
  color: #aaa
}

.menu-item.checked > .menu-item-title .title {
  font-weight: 800;
}

.menu-item:not(.disabled) > .menu-hover:hover {
  background-color: #666;
}

.seperator {
  border: 0.2px solid #333;
  margin: 4px;
}

.dropdown {
  display: none;
}

.check-icon {
  position: relative;
  right: 16px;
}

.chart-view-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.chart-list {
  flex: 1;
  margin-right: 5px;
  width: 50%;
  height: 100%;
  background-color: #373737;
	border-radius: 5px;
}

.chart-info {
  flex: 1;
  margin-left: 5px;
  width: 50%;
  height: 100%;
  background-color: #373737;
	border-radius: 5px;
}

.chart-info:empty::before { 
  color: #999;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Select a chart for more details";
}

.chart-list-item {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  border: 1px solid #424242;
}

.chart-list-item.selected {
  background-color: rgba(150,150,150,0.5);
}

.chart-list-item:hover {
  background-color: rgba(150,150,150,0.2);
}

.chart-list-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chart-list-item .Beginner {
  background-color: rgb(59, 108, 128);
}
.chart-list-item .Easy {
  background-color: rgb(48, 134, 85);
}
.chart-list-item .Medium {
  background-color: rgb(160, 143, 69);
}
.chart-list-item .Hard {
  background-color: rgb(142, 41, 33);
}
.chart-list-item .Challenge {
  background-color: rgb(139, 27, 158);
}
.chart-list-item .Edit {
  background-color: rgb(117, 117, 117);
}
.chart-list-item > .title {
  padding: 2px 0px;
  display: flex;
  align-content: center;
  margin-right: 3px;
  border-right: 1px solid #555;
  padding-left: 2px;
  border-radius: 5px;
}

.chart-attributes {
  display: flex;
  padding: 2px 0px;
  padding-right: 2px;
}

.chart-attributes .chart-credit {
  flex: 1;
  text-overflow: ellipsis;
}

.chart-attributes .chart-step-count {
  flex: 0;
}