/* hebrew */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Hebrew.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-LatinExt.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Hebrew.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-LatinExt.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Hebrew.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-LatinExt.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Hebrew.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-LatinExt.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Hebrew.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-LatinExt.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Hebrew.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-LatinExt.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Hebrew.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-LatinExt.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/smeditor/assets/font/Assistant-Latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  box-sizing: border-box;
  font-family: Assistant, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.15em;
  color: var(--text-color);
}

body {
  --accent-color: rgb(16, 98, 156);

  --text-color: white;
  --text-color-secondary: #ddd;
  --text-color-tertiary: #888;
  --text-color-detail: #757a89;
  --text-color-disabled: #888;
  --bg-primary: #555;
  --bg-primary-border: #444;
  --bg-primary-active: #555;
  --bg-primary-hover: #666;
  --bg-window: #3d3d3d;
  --bg-secondary: #373737;
  --bg-secondary-border: #333;
  --bg-secondary-active: #555;
  --bg-secondary-hover: #454545;
  --bg-tertiary: #333;
  --bg-tertiary-border: #2c2c2c;
  --bg-tertiary-active: #444;
  --bg-tertiary-hover: #353535;

  --bg-editable-overlay: rgb(255, 255, 255, 0.2);
  --bg-editable-overlay-active: rgb(255, 255, 255, 0.1);
  --bg-input: rgba(35, 35, 35, 0.309);
  --bg-widget: rgba(0, 0, 0, 0.5);

  --danger: rgb(172, 54, 54);

  position: relative;
}
/* hell */
/* body.light {
  --accent-color: rgb(16, 98, 156);
  --text-color: #000000;
  --text-color-secondary: #262626;
  --text-color-tertiary: #3d3d3d;
  --text-color-detail: #727272;
  --text-color-disabled: #a1a1a1;
  --bg-primary: #c9c9c9;
  --bg-primary-border: #b7b7b7;
  --bg-primary-active: #555;
  --bg-primary-hover: #666;
  --bg-window: #bbbbbb;
  --bg-secondary: #979797;
  --bg-secondary-border: #8d8d8d;
  --bg-secondary-active: #a7a7a7;
  --bg-secondary-hover: #a1a1a1;
  --bg-tertiary: #909090;
  --bg-tertiary-border: #767676;
  --bg-tertiary-active: #8e8e8e;
  --bg-tertiary-hover: #7b7b7b;

  --bg-editable-overlay: rgb(255, 255, 255, 0.2);
  --bg-editable-overlay-active: rgb(255, 255, 255, 0.1);
  --bg-input: rgba(35, 35, 35, 0.309);
  --bg-widget: rgba(255, 255, 255, 0.5);
} */

body {
  overflow: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  background-color: #18191c;
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
  width: 100%;
}
.browser-unsupported {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.browser-unsupported-item {
  text-align: center;
  width: 100%;
}
.browser-unsupported-detail {
  font-size: 12px;
  color: var(--text-color-detail);
}
#view-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  caret-color: transparent;
}
.window {
  border-radius: 5px;
  position: fixed;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}
.navbar {
  align-items: center;
  background: var(--bg-window);
  border-bottom: 1px solid #2f2f2f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  width: 100%;
}
.window:not(.focused) > .navbar {
  background: rgb(98, 98, 98);
  border-bottom: 1px solid transparent;
}
.navbar * {
  margin: 3px;
}
.title:empty {
  margin: 0;
}
.navbar .title {
  color: var(--text-color);
  flex: 1 1 auto;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar img {
  flex: 0 0 auto;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.animated .navbar img {
  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.navbar img:hover {
  filter: invert(0.35);
}
button {
  background: rgb(83, 82, 82);
  border: 0.5px solid rgb(35, 34, 34);
  border-radius: 5px;
  padding: 4px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-0.5px);
  box-shadow:
    0 0.5px rgba(0, 0, 0, 0.9),
    0 3px 5px -3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  column-gap: 5px;
}
.animated button {
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.875);
}
.animated button:hover:enabled {
  transform: translateY(-1.5px);
  box-shadow:
    0 1.5px rgba(0, 0, 0, 0.9),
    0 3px 5px -2px rgba(0, 0, 0, 0.6);
}
.animated button:active:enabled {
  transform: translateY(0.2px);
  box-shadow: none;
}
button:hover:enabled {
  filter: brightness(1.3);
}
button:active:enabled {
  filter: brightness(0.8);
}
button.confirm {
  background: rgb(36, 109, 161);
}
button.delete {
  background: var(--danger);
}
button:disabled {
  filter: brightness(0.8);
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.view {
  background-color: var(--bg-window);
  font-size: 15px;
  overflow: hidden;
}
.animated .view {
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.window.focused .view {
  box-shadow: inset 0 2px 3px -1px rgb(0, 0, 0, 0.1);
}
.view .padding {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}
.open-container {
  display: grid;
  grid-template-rows: 2fr auto 5fr;
  height: 100%;
}
.open-container .top-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.open-container .bottom-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.open-container .title {
  font-size: 17px;
  text-transform: uppercase;
}
.open-container .container {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.container + .title {
  border-top: solid 1px #555;
  margin-top: 10px;
  padding-top: 10px;
}
.window.exiting {
  filter: blur(20px);
  opacity: 0;
}
.animated .exiting {
  transition: 0.06s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}
.folder > .children {
  margin-left: 20px;
}
.folder.collapsed > .children {
  display: none;
}
.item .info {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.item .info .title {
  background: none;
  border: none;
  border-radius: 5px;
  flex: 1 1 auto;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1px 5px;
}
.folder.collapsed > .info > .folder-icon {
  transform: rotate(-90deg);
}
.pref-label.collapsed > .folder-icon {
  transform: rotate(-90deg);
}
.animated .folder-icon {
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
img.icon {
  filter: invert();
  height: 15px;
}
.dir-selector {
  background-color: var(--bg-secondary);
  border-radius: 5px 5px 0 0;
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 5px;
}
.file-options {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  background-color: var(--bg-tertiary);
  margin-bottom: 5px;
  padding: 4px;
  border-radius: 0 0 5px 5px;
}
.info.disabled > .title {
  color: var(--text-color-disabled);
}
.info.disabled > .icon {
  opacity: 0.3;
}
.info.selected {
  background-color: var(--bg-secondary-active);
}
.info.selected:hover {
  background-color: var(--bg-secondary-active);
}
.info:hover {
  background-color: var(--bg-secondary-hover);
}
.options-icon {
  display: none;
}
.info:hover > .options-icon {
  display: block;
  opacity: 0.3;
}
.info.selected > .options-icon {
  display: block;
  opacity: 0.3;
}
/* .item .info .title:focus {
  background-color: #333;
  color: var(--text-color) !important;
} */
textarea {
  -moz-user-select: none;
  -webkit-user-select: none;
  resize: none;
  user-select: none;
}
.dir-selector:empty::before {
  color: var(--text-color-disabled);
  content: "No files! Add a file by dragging a folder/file or using the buttons below.";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent-selector {
  background-color: var(--bg-secondary);
  border-radius: 5px 5px 0 0;
  flex: 1;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 5px;
  width: 360px;
}

.recent-selector:empty::before {
  color: var(--text-color-disabled);
  content: "No recent files";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 8px;
  font-size: 14px;
}
.recent-item.selected {
  background-color: var(--bg-secondary-active);
}
.recent-item.selected:hover {
  background-color: var(--bg-secondary-active);
}
.recent-item:hover {
  background-color: var(--bg-secondary-hover);
}
.recent-item .recent-path {
  font-style: italic;
  color: var(--text-color-tertiary);
  text-overflow: ellipsis;
  overflow: hidden;
}
.recent-item .recent-name {
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 auto;
}
.menu-options {
  display: flex;
  margin-top: 5px;
  flex: 0;
  justify-content: space-between;
}
.menu-left {
  display: flex;
  width: 50%;
}
.menu-right {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}

.outlined {
  box-shadow: inset 0 0 3px 2px rgba(16, 98, 156, 0.8);
}
.outlined > .info {
  box-shadow: inset 0 0 3px 2px rgba(16, 98, 156, 0.8);
}

#menubar {
  display: flex;
  background-color: var(--bg-primary);
}

.menu-item {
  position: relative;
  z-index: 9999;
}

.menu-item > .menu-item-title {
  padding: 4px 0 4px 0;
  display: flex;
  align-items: center;
}

#menubar > .menu-item > .title {
  padding: 4px 10px 4px 10px;
}

#menubar .menubar-dropdown {
  display: none;
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary-border);
  position: absolute;
  border-radius: 5px;
}

#menubar .menu-item:not(.disabled):hover > .menubar-dropdown,
#menubar .menubar-dropdown:not(.disabled):hover {
  display: block;
}

.menu-item .menubar-dropdown .menubar-dropdown {
  left: 100%;
  top: 0;
}

.menu-item-title .title {
  flex: 1;
  margin-left: 10px;
  margin-right: 15px;
  white-space: nowrap;
}

.menu-item-title .keybind,
.menu-item-title .icon {
  margin-right: 10px;
  color: var(--text-color-tertiary);
  white-space: nowrap;
}

.menu-item.disabled .menu-item-title .title {
  color: var(--text-color-disabled);
}

.menu-item.checked > .menu-item-title .title {
  font-weight: 800;
}

.menu-item:not(.disabled) > .menu-hover:hover {
  background-color: var(--bg-primary-hover);
}

.animated .menu-hover {
  transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.separator {
  border: 0.2px solid #333;
  margin: 4px;
  height: 1px;
}

.check-icon {
  position: relative;
  right: 16px;
}

.chart-view-scroller {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 4px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.chart-list {
  height: 100%;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  overflow: scroll;
}

.chart-info {
  height: 100%;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  word-break: break-all;
  padding: 15px;
  overflow: scroll;
}

.chart-info .label {
  padding: 2px 0;
}

.chart-info:empty::before {
  color: var(--text-color-disabled);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Select a chart for more details";
}

.chart-list-item {
  display: flex;
  align-items: center;
  border: 0.2px solid var(--bg-secondary-border);
  cursor: pointer;
}

.animated .chart-list-item {
  transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.chart-list-item.selected {
  background-color: var(--bg-secondary-active);
}

.chart-list-item:active {
  background-color: var(--bg-secondary-active);
}

.chart-list-item:not(.selected):hover {
  background-color: var(--bg-secondary-hover);
}

.chart-list-item .Beginner {
  background-color: rgb(59, 108, 128);
}
.chart-list-item .Easy {
  background-color: rgb(48, 134, 85);
}
.chart-list-item .Medium {
  background-color: rgb(160, 143, 69);
}
.chart-list-item .Hard {
  background-color: rgb(142, 41, 33);
}
.chart-list-item .Challenge {
  background-color: rgb(139, 27, 158);
}
.chart-list-item .Edit {
  background-color: rgb(117, 117, 117);
}
.chart-list-item > .title {
  padding: 4px 4px;
  text-align: center;
  align-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 25px;
}

.chart-list-item.extended .chart-list-info {
  margin: 0 0;
  opacity: 0;
}

.chart-list-info {
  opacity: 1;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 5px;
  place-content: space-between;
  min-width: 0;
  column-gap: 5px;
  flex: 1;
}

.animated .chart-list-info {
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.chart-attributes {
  display: flex;
  padding: 2px 2px 2px 0;
}

.chart-properties {
  display: grid;
  grid-template-columns: 100px minmax(0, 1fr);
  align-items: center;
  flex: 1;
  row-gap: 2px;
  margin-bottom: 12px;
}

.chart-properties ul .label {
  font-weight: bold;
}

.chart-properties ul > *:last-child {
  flex: 1;
}

div.inlineEdit[contenteditable="true"] {
  min-width: 8px;
  text-align: right;
  border-radius: 3px;
  padding: 0 3px;
  border: 1px solid transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  caret-color: auto;
  cursor: text;
}

div.inlineEdit {
  cursor: default;
}

.animated div.inlineEdit {
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

div.inlineEdit[contenteditable="true"]:hover {
  background: var(--bg-editable-overlay);
}

div.inlineEdit[contenteditable="true"]:focus {
  background: var(--bg-editable-overlay-active);
  outline: none;
  overflow: auto;
  text-overflow: clip;
}

::-webkit-scrollbar {
  display: none;
}

.chart-credit,
.chart-difficulty,
.chart-info-grid-label {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 1px 0;
}

.chart-step-count {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chart-info-main {
  display: flex;
  font-size: 18px;
  margin-bottom: 5px;
  align-items: center;
  place-content: space-between;
}
.chart-info-grid-item {
  display: flex;
}
.chart-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;
  column-gap: 15px;
  margin-top: 5px;
}

.timing-data > .padding {
  display: grid;
  row-gap: 3px;
  grid-template-columns: auto 170px;
  align-items: center;
}

.timing-data > .padding > div:not(.label) {
  display: flex;
  align-items: center;
  height: 100%;
}

.sm-properties .padding {
  display: flex;
  flex-direction: column;
}

.sm-properties .property-grid {
  display: grid;
  row-gap: 3px;
  grid-template-columns: auto 250px;
  align-items: center;
  flex: 1;
}

.sm-properties .property-grid > div:not(.label) {
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="number"] {
  background: var(--bg-input);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0 3px;
  flex: 1;
  height: 100%;
  user-select: text;
  caret-color: auto;
  font-size: 13.33px;
}

input:disabled {
  color: var(--text-color-disabled);
  pointer-events: none;
}

input:focus {
  outline: 1px solid var(--accent-color);
}

input.short {
  width: 40px;
}

input.right {
  text-align: right;
}

.chart-view-type-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.dropdown {
  height: 100%;
  position: relative;
}

.dropdown.no-border .dropdown-selected {
  border: none;
  padding: 1px;
}

.dropdown.no-border .dropdown-selected:not(:hover)::after {
  opacity: 0;
}

.dropdown-selected {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 100%;
  height: 100%;
  padding: 1px 7px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.animated .dropdown-selected {
  transition: 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dropdown-selected.disabled {
  color: var(--text-color-disabled);
  pointer-events: none;
  cursor: not-allowed;
}
.dropdown-selected:empty {
  display: none;
}

.dropdown.white .dropdown-selected::after {
  filter: invert();
}

.dropdown-selected::after {
  content: "";
  background: right center no-repeat
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAbklEQVRIie2PMQqAMAxFXwfP6qJVPIjYzcOKdUkhQ0BaCoLkLS3k818CjuN8ztApYzIDl7xvmalFsAIZuIFozKPMMrC0CAJwKIkuGVX5KdkmLEm3ci1JSlLKU49yLSmXVG1es0EANvnvInKcP/AA784fpjlWwNQAAAAASUVORK5CYII=");
  background-size: contain;
  width: 12px;
  height: 12px;
  flex: 1;
}
.dropdown-selected:hover:not(.disabled):not(:active) {
  background: var(--bg-editable-overlay);
}
.dropdown-selected:active {
  background: var(--bg-editable-overlay);
}

.dropdown-items {
  position: absolute;
  background: #555;
  max-height: 200px;
  overflow: auto;
  z-index: 5;
  border-radius: 5px;
  height: 0;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
  top: 100%;
}

.dropdown-right > .dropdown-items {
  right: 0;
}

.animated .dropdown-items {
  transition: height 0.07s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dropdown-item {
  padding: 3px 7px;
  white-space: nowrap;
}

.animated .dropdown-item {
  opacity: 0;
  transform: translateY(-10px);
  animation: 0.2s dropdown-enter cubic-bezier(0.175, 0.885, 0.32, 1.575)
    forwards;
  transition: height 0.07s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dropdown-item:hover {
  background: #666;
}

.dropdown-item:active {
  background: #5c5c5c;
}

@keyframes dropdown-enter {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.pref-selector {
  background-color: var(--bg-secondary);
  border-radius: 0 0 5px 5px;
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 5px;
  font-size: 15px;
}
.pref-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
  padding: 1px 0;
}
.pref-label:hover {
  background-color: var(--bg-secondary-active);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.flex-column-gap {
  column-gap: 5px;
}
.flex-row-gap {
  row-gap: 5px;
}
.flex-grow {
  flex: 1;
}
.flex-static {
  flex: 0;
}

#blocker {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 10000;
  caret-color: transparent;
}

.spinner {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
}

.spinner-input[type="text"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  flex: 1;
}

.spinner-input:disabled + .spinner-btns {
  pointer-events: none;
}

.spinner-btns {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid #272727;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  flex: 0;
  height: 100%;
  min-height: 20px;
}

.spinner-btns button {
  padding: 0 2px;
  flex: 1;
  border-radius: 0;
  height: 100%;
  width: 10px;
  border: none;
  min-width: auto;
}

.spinner-btns button::after {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAbklEQVRIie2PMQqAMAxFXwfP6qJVPIjYzcOKdUkhQ0BaCoLkLS3k818CjuN8ztApYzIDl7xvmalFsAIZuIFozKPMMrC0CAJwKIkuGVX5KdkmLEm3ci1JSlLKU49yLSmXVG1es0EANvnvInKcP/AA784fpjlWwNQAAAAASUVORK5CYII=")
    no-repeat center center;
  background-size: contain;
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
}

.spinner-btns .spinner-up::after {
  transform: rotate(180deg);
}

.spinner-up {
  background: linear-gradient(0deg, #484848, #444);
}

.spinner-down {
  background: linear-gradient(180deg, #484848, #555);
}

#waterfall {
  position: relative;
  top: 0;
}

#waterfall-container {
  position: absolute;
  top: 9px;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 0 10px;
  width: 100%;
  pointer-events: none;
  user-select: none;
  caret-color: transparent;
}

.waterfall-item {
  pointer-events: none;
}

.animated .waterfall-item {
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
  animation: waterfall-enter 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.waterfall-warn {
  color: rgb(246, 202, 57);
  display: inline-block;
  margin-right: 4px;
}

.waterfall-error {
  color: rgb(183, 35, 35);
  display: inline-block;
  margin-right: 4px;
}

@keyframes waterfall-enter {
  from {
    opacity: 0;
    transform: translate(200px, 10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.waterfall-exiting {
  opacity: 0;
  transform: translateX(200px);
}

.confirmation .padding .label {
  flex: 1;
  text-align: center;
}

.confirmation button {
  min-width: 55px;
}

input[type="range"] {
  width: 100px;
  margin-right: 10px;
}

.hide-buttons button {
  display: none;
}

.hide-buttons:hover button,
.hide-buttons div:focus + button {
  display: flex;
}

#status-widget {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  align-items: center;
  height: 96px;
  overflow: hidden;
  user-select: none;
}

#status-widget.collapsed {
  height: 48px;
}

.playback-bar,
.edit-bar {
  display: flex;
  flex-direction: row;
  height: 48px;
  align-items: center;
  border-radius: 5px;
  justify-content: flex-start;
  width: 100%;
}

.playback-bar {
  background-color: var(--bg-widget);
}

#status-widget:not(.collapsed) .playback-bar {
  border-bottom: 1px rgba(55, 55, 55, 0.2) solid;
  border-radius: 0;
}

.animated #status-widget {
  transition: 0.3s cubic-bezier(0.11, 0.72, 0.51, 1.14);
}

#status-widget button {
  background: none;
  box-shadow: none;
  transform: none;
  border: none;
  width: 48px;
  height: 48px;
  outline: none;
}

#status-widget button img {
  height: 100%;
}

#status-widget button:hover {
  filter: brightness(0.6);
}
#status-widget button:active {
  filter: brightness(0.4);
}
#status-widget button:disabled {
  filter: brightness(0.2) saturate(0.4);
}

.animated #status-widget button {
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#status-widget .playback-separator {
  padding: 0 2px;
  height: 48px;
  display: flex;
  align-items: center;
}

#status-widget .playback-separator::after {
  border: 0.5px rgba(134, 134, 134, 0.5) solid;
  height: 30px;
  content: " ";
}

#status-widget .playback-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 0 4px;
}

#status-widget .playback-counter .playback-counter-label {
  font-size: 10px;
  color: var(--text-color-tertiary);
}

#status-widget .playback-counter .playback-counter-label::after {
  filter: invert() brightness(0.4);
}

#status-widget .playback-counter .playback-counter-main {
  font-size: 18px;
  line-height: 18px;
  max-width: 100px;
  align-items: baseline;
}

#status-widget .playback-counter .playback-counter-main,
#status-widget .playback-counter .playback-counter-main * {
  padding: 0;
  border: none;
  text-overflow: clip;
  overflow: hidden;
}

#status-widget .dropdown-selected {
  border: none;
}

#status-widget .edit-fancy-button {
  font-size: 9px;
  padding: 0 4px;
  width: 56px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#status-widget .edit-fancy-button img {
  margin-bottom: 3px;
  height: 23px;
}

.note-placeholder {
  border-radius: 5px;
}

.edit-choice-container {
  display: flex;
  flex-direction: column;
  height: 96px;
  position: relative;
  top: 0;
  align-self: flex-start;
  width: 100%;
  overflow: hidden;
}

.edit-steps-container,
.edit-timing-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 100%;
}

.animated .edit-choice-container,
.animated .edit-steps-container,
.animated .edit-timing-container {
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.edit-timing-container {
  background-color: var(--bg-widget);
  height: 48px;
}

#status-widget .edit-bar .edit-bar-left {
  background-color: var(--bg-widget);
  display: flex;
  flex-direction: row;
}
.note-placeholder-right {
  flex: 1;
  background-color: var(--bg-widget);
  height: 48px;
}

.popup {
  user-select: none;
  position: absolute;
  transform: translate(-50%, 0);
  z-index: 10;
}

.popup-zoomer {
  transform-origin: top center;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-window);
  border-radius: 5px;
  padding: 8px;
  align-items: center;
  border: 1px solid black;
  animation: 0.001s popup-enter cubic-bezier(0.47, 0.02, 0, 0.95) forwards;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}

.popup-zoomer.selected {
  filter: saturate(1.2) brightness(1.4);
  border: 1px solid rgb(14, 83, 104);
}

.popup.exiting .popup-zoomer {
  animation: 0.01s popup-exit cubic-bezier(0.47, 0.02, 0, 0.95) forwards;
  pointer-events: none;
}

.animated .popup {
  transition: 0.2s cubic-bezier(0.47, 0.02, 0, 0.95);
}

.animated .popup-zoomer {
  animation: 0.1s popup-enter cubic-bezier(0.47, 0.02, 0, 0.95) forwards;
  transition: 0.2s cubic-bezier(0.47, 0.02, 0, 0.95);
}

.animated .popup.exiting .popup-zoomer {
  animation: 0.1s popup-exit cubic-bezier(0.47, 0.02, 0, 0.95) forwards;
  pointer-events: none;
}

.popup-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: var(--text-color-secondary);
  white-space: nowrap;
  font-size: 14px;
  align-items: center;
}

.popup-flex {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
}

@keyframes popup-enter {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup-exit {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.popup .popup-desc {
  font-size: 10px;
  font-style: italic;
  text-align: center;
  color: var(--text-color-detail);
}

.animated .popup-desc {
  transition: 0.2s cubic-bezier(0.47, 0.02, 0, 0.95);
}

.popup .popup-title {
  text-align: center;
}

.popup .popup-label {
  color: var(--text-color-secondary);
  white-space: nowrap;
  font-size: 14px;
}

.popup .popup-grid input[type="text"] {
  min-width: 0;
  text-align: right;
}

.popup .popup-grid input[type="checkbox"] {
  min-width: 0;
  justify-self: end;
}

.popup .popup-grid {
  margin-top: 4px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
  row-gap: 4px;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.animated .popup-options {
  transition: 0.2s cubic-bezier(0.47, 0.02, 0, 0.95);
}
.popup-options {
  margin-top: 0;
  width: 100%;
  justify-content: space-around;
  transform: scale(0);
  height: 0;
  display: flex;
}

.popup-options button {
  min-width: 40px;
}

.popup-zoomer.selected .popup-options {
  margin-top: 5px;
  transform: scale(1);
  height: 24.5px;
  filter: saturate(0.8) brightness(0.7);
}

.draggable-track {
  writing-mode: vertical-rl;
  text-align: center;
  padding: 20px 4px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow:
    0 0.5px rgba(0, 0, 0, 0.9),
    0 3px 5px -3px rgba(0, 0, 0, 0.6);
  cursor: grab;
}

.draggable-track.left .draggable-track-text {
  transform: rotate(180deg);
}

.draggable-track img {
  position: absolute;
  display: none;
}

.draggable-track:hover img {
  display: block;
  bottom: 10px;
  backface-visibility: hidden;
  filter: invert() brightness(0.5);
  cursor: pointer;
}

.draggable-track:hover img:hover {
  filter: invert() brightness(0.5) sepia(1) hue-rotate(-50deg) saturate(6);
}

.draggable-track:hover {
  filter: brightness(1.3) saturate(2.5);
  transform: translateY(-1.5px);
  box-shadow:
    0 1.5px rgba(0, 0, 0, 0.9),
    0 3px 5px -2px rgba(0, 0, 0, 0.6);
}

.draggable-track:active {
  cursor: grabbing;
  filter: brightness(1.1) saturate(2.5);
  transform: none;
  box-shadow:
    0 0 rgba(0, 0, 0, 0.9),
    0 3px 5px -2px rgba(0, 0, 0, 0.6);
}

@keyframes draggable-exit {
  0% {
    width: 26px;
  }
  100% {
    width: 0;
    padding: 0;
    opacity: 0;
  }
}

@keyframes draggable-enter {
  0% {
    opacity: 0;
    width: 0;
    padding: 0;
  }
  100% {
    opacity: 1;
    width: 26px;
  }
}

.draggable-track.entering,
.draggable-option.entering {
  animation: draggable-enter 0s cubic-bezier(0, 0.91, 0.34, 1.05) forwards;
}

.draggable-track.exiting,
.draggable-option.exiting {
  animation: draggable-exit 0s cubic-bezier(0, 0.91, 0.34, 1.05) forwards;
}

.animated .draggable-track.entering,
.animated .draggable-option.entering {
  animation: draggable-enter 0.4s cubic-bezier(0, 0.91, 0.34, 1.05) forwards;
}

.animated .draggable-track.exiting,
.animated .draggable-option.exiting {
  animation: draggable-exit 0.4s cubic-bezier(0, 0.91, 0.34, 1.05) forwards;
}

@keyframes leftover-enter {
  0% {
    opacity: 0;
    transform: scale(0);
    padding: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.leftover-track.entering,
.leftover-option.entering {
  animation: leftover-enter 0s cubic-bezier(0, 0.91, 0.34, 1.05) forwards;
}

.animated .leftover-track.entering,
.animated .leftover-option.entering {
  animation: leftover-enter 0.4s cubic-bezier(0, 0.91, 0.34, 1.05) forwards;
}

#timing-track-order .title {
  text-align: center;
  padding: 6px;
}

.track-grid {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-secondary);
  padding: 4px;
  border-radius: 3px;
  width: 468.08px;
  justify-content: center;
}

.track-grid-options {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  padding: 4px 0;
}

.track-selector {
  flex: 1;
  height: 30px;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-tertiary);
  padding: 4px;
  border-radius: 3px;
  gap: 4px;
  /* width: 468.08px; */
  overflow-x: auto;
}

.leftover-track {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 4px;
  gap: 3px;
  box-shadow:
    0 0.5px rgba(0, 0, 0, 0.9),
    0 3px 5px -3px rgba(0, 0, 0, 0.6);
  font-size: 13px;
  cursor: grab;
}

.leftover-track img {
  filter: invert();
  vertical-align: baseline;
  width: 10px;
}

.leftover-track:hover {
  filter: brightness(1.3) saturate(2.5);
  transform: translateY(-1.5px);
  box-shadow:
    0 1.5px rgba(0, 0, 0, 0.9),
    0 3px 5px -2px rgba(0, 0, 0, 0.6);
}

.leftover-track:active {
  filter: brightness(1.1) saturate(2.5);
  transform: none;
  box-shadow:
    0 0 rgba(0, 0, 0, 0.9),
    0 3px 5px -2px rgba(0, 0, 0, 0.6);
  cursor: grabbing;
}

.animated .draggable-track,
.animated .draggable-track img,
.animated .leftover-track,
.animated .track-selector,
.animated .draggable-option,
.animated .draggable-option img,
.animated .leftover-option {
  transition: 0.2s cubic-bezier(0, 0.91, 0.34, 1.05);
}

.sm-title {
  font-weight: bold;
  margin-bottom: 3px;
}

.sm-container {
  margin-bottom: 15px;
}

#context-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary-border);
  caret-color: transparent;
  font-size: 15px;
  border-radius: 5px;
  transform-origin: top left;
  opacity: 0.95;
}

.animated #context-menu.entering {
  animation: context-enter 0.15s cubic-bezier(0.13, 0.61, 0.07, 0.98);
}
#context-menu.exiting {
  transform: scale(0.8);
  opacity: 0;
}

.animated #context-menu.exiting {
  transition: 0.1s cubic-bezier(0.15, 0.73, 0.62, 0.75);
}

@keyframes context-enter {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.95;
    transform: scale(1);
  }
}

.menu-item {
  position: relative;
  z-index: 9999;
}

.menu-item > .menu-item-title {
  padding: 3px 0 3px 0;
  display: flex;
  align-items: center;
}

.menu-item:first-child > .menu-item-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-item:last-child > .menu-item-title {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#context-menu .menubar-dropdown {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary-border);
  position: absolute;
  left: 100%;
  top: 0;
  border-radius: 5px;
  transform-origin: left;
  transform: scale(0);
  opacity: 0;
}

@keyframes context-dropdown-enter {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes context-dropdown-exit {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

#context-menu .menu-item:not(.disabled):hover > .menubar-dropdown,
#context-menu .menubar-dropdown:not(.disabled):hover {
  opacity: 0.95;
  transform: scale(1);
}

.animated #context-menu .menu-item:not(.disabled):hover > .menubar-dropdown,
.animated #context-menu .menubar-dropdown:not(.disabled):hover {
  animation: context-dropdown-enter 0.08s cubic-bezier(0.215, 0.61, 0.355, 1)
    forwards;
}

.animated #context-menu .menubar-dropdown {
  animation: context-dropdown-exit 0.08s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.08s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-item .menubar-dropdown .menubar-dropdown {
  left: 100%;
  top: 0;
}

.pref-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.pref-search {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pref-scrollers {
  display: flex;
  gap: 20px;
  flex: 1;
  min-height: 0;
}

.pref-section-scroller,
.pref-option-scroller {
  background-color: var(--bg-secondary);
  overflow: auto;
  padding: 5px;
  border-radius: 5px;
}

.animated .pref-option-scroller {
  scroll-behavior: smooth;
}

.pref-section {
  padding: 3px 5px;
  border-radius: 2px;
  cursor: pointer;
}

.pref-section-scroller {
  width: 150px;
}

.pref-option-scroller:empty::before {
  color: var(--text-color-disabled);
  content: "No keybinds matched the search term.";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated .pref-section,
.animated .pref-keybind-combo,
.animated .pref-keybind,
.animated .pref-item,
.animated .pref-item-tooltip {
  transition: 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.pref-section.selected,
.pref-section.selected:hover {
  background-color: var(--bg-secondary-active);
}

.pref-section:hover,
.pref-keybind:hover,
.pref-item:hover {
  background-color: var(--bg-secondary-hover);
}

.pref-option-scroller {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 3px 5px;
}

.pref-keybind {
  padding: 3px 5px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.pref-item {
  padding: 3px 5px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.pref-item-input {
  margin-left: auto;
  max-width: 160px;
  display: flex;
}

.pref-item > .spinner {
  max-width: 50px;
}

.pref-item .spinner-input {
  text-align: right;
}

.pref-keybind img,
.pref-item > img {
  margin-left: 5px;
  display: block;
  bottom: 10px;
  backface-visibility: hidden;
  filter: invert() brightness(0.5);
  cursor: pointer;
}

.pref-keybind img:hover {
  filter: invert() brightness(0.5) sepia(1) hue-rotate(-50deg) saturate(6);
}

.pref-keybind-label {
  padding: 2px 0;
}

.pref-label {
  padding: 10px 0;
}

.pref-keybind-combos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  margin-left: auto;
}

.pref-keybind-combo {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 5px;
  font-size: 13px;
}

.pref-keybind-combo.conflict {
  background: rgb(187, 93, 31);
}

.pref-keybind-combo:hover {
  background-color: var(--danger);
}

.pref-group-label {
  font-size: 18px;
  margin-bottom: 6px;
}

.pref-subgroup-label {
  font-weight: bold;
  margin-bottom: 6px;
}

.pref-group {
  padding: 3px 5px;
}

.pref-children .pref-group-label {
  font-size: 17px;
}

.pref-search .dropdown {
  width: 70px;
}

.pref-group-label + .pref-children {
  margin-left: 15px;
}

.pref-children {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pref-subgroup {
  margin: 8px 0;
}

.detail {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  color: var(--text-color-detail);
}

.tippy-box[data-theme~="sm"] {
  background-color: rgb(54, 54, 54);
  color: white;
}

.tippy-box[data-theme~="sm"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: rgb(54, 54, 54);
}
.tippy-box[data-theme~="sm"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: rgb(54, 54, 54);
}
.tippy-box[data-theme~="sm"][data-placement^="left"] > .tippy-arrow::before {
  border-left-color: rgb(54, 54, 54);
}
.tippy-box[data-theme~="sm"][data-placement^="right"] > .tippy-arrow::before {
  border-right-color: rgb(54, 54, 54);
}

.export-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100%;
  overflow: hidden;
}

.export-section-label {
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 6px;
}

.export-option {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 3px 5px;
}

.export-output {
  flex: 1;
  border-radius: 5px;
  background-color: var(--bg-secondary);
  padding: 5px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
  tab-size: 2;
}

.export-output:hover {
  background-color: var(--bg-secondary-hover);
}

.animated .export-output {
  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.logo {
  text-align: center;
  font-size: 26px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(11, 14, 26);
  padding-top: 2px;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(11, 14, 26),
    rgb(49, 57, 88),
    rgb(11, 14, 26)
  );
}

.eq-icon {
  border-radius: 3px;
}

.animated .eq-icon {
  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.eq-icon.disabled:not(:hover) {
  fill: #888;
}

.eq-icon:not(:hover) {
  background-color: rgba(0, 0, 0, 0) !important;
}

.eq-info-container {
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(11, 14, 26),
    rgb(49, 57, 88),
    rgb(11, 14, 26)
  );
  background-color: rgb(11, 14, 26);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 2px 10px;
  margin: 0;
  font-size: 12px;
}

.eq-reset {
  margin-left: auto;
  margin-right: 15px;
  color: rgba(255, 58, 58, 0.8);
  padding: 0px 5px;
  border-radius: 3px;
}

.animated .eq-reset {
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.875);
}

.eq-reset:hover {
  background: rgba(255, 58, 58, 0.2);
}

.eq-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.eq-info-label {
  color: rgba(0, 135, 203, 0.8);
}

.eq-info-value {
  width: 80px;
}

.eq-info-value.inlineEdit[contenteditable="true"] {
  border: none;
  min-width: 80px;
  text-align: left;
  border-radius: 3px;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  caret-color: auto;
}

.eq-info-value.inlineEdit[contenteditable="true"]:hover {
  background: rgba(0, 135, 203, 0.082);
}

.eq-info-value.inlineEdit[contenteditable="true"]:focus {
  background: rgba(0, 135, 203, 0.082);
}

.eq-container {
  display: flex;
  flex-direction: column;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 19.5px;
  padding: 0;
  width: 29.5px;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 1px rgb(105, 105, 105) solid;
  border-radius: 3px;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}

.update-popup {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease-out;
  user-select: none;
  cursor: pointer;
  transform-origin: bottom right;
}

.animated .update-popup {
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.875);
}
.animated .update-popup:hover {
  scale: 1.03;
  background-color: rgba(66, 66, 66, 0.5);
}

.sync-spinner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.sync-top-container,
.sync-bottom-container {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

#embed {
  position: fixed;
  bottom: 0;
  margin: 10px 10px;
  font-size: 13px;
  font-weight: 200;
  color: rgba(215, 215, 215, 0.487);
  cursor: default;
  pointer-events: none;
}

#embed a {
  transition: 0.2s ease-in-out;
  color: rgba(215, 215, 215, 0.793);
  pointer-events: all;
}

#embed a:hover {
  color: rgba(215, 215, 215, 0.939);
}

#playback-options {
  height: 40px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  user-select: none;
  gap: 24px;
  background-color: var(--bg-widget);
  padding: 0px 10px;
  font-size: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  position: relative;
  top: 0;
}

#playback-options.collapsed {
  height: 0px;
}

.playback-options-title {
  justify-content: center;
  text-align: center;
  width: 100%;
}

.animated #playback-options,
.animated .playback-options-row,
.animated .po-thumb-row {
  transition: 0.3s cubic-bezier(0.61, 0.04, 0.38, 1.02);
}

#playback-options .playback-options-row.hidden {
  opacity: 0;
  width: 0px;
  margin-right: -24px;
  transform: scale(0);
}

#playback-options > .playback-options-row {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  text-wrap: nowrap;
  width: var(--w);
}

.po-spinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}

#playback-options .po-spinner-btn {
  box-shadow: none;
  transform: none;
  border: none;
  outline: none;
  filter: none;
  background-color: rgba(79, 79, 79, 0.5);
  border-radius: 5px;
  width: 12px;
  height: 20px;
  padding: 0;
  text-align: center;
  justify-content: center;
}

#playback-options .po-spinner .po-spinner-btn:first-of-type {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px rgba(0, 0, 0, 0.5) solid;
}

#playback-options .po-spinner .po-spinner-btn:last-of-type {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px rgba(0, 0, 0, 0.5) solid;
}

#playback-options .po-spinner-btn:disabled {
  background-color: rgba(27, 27, 27, 0.5);
  color: #555;
}

#playback-options .po-spinner-btn:hover:not(:disabled) {
  background-color: rgba(92, 92, 92, 0.5);
}

#playback-options .po-spinner-btn:active:not(:disabled) {
  background-color: rgba(50, 50, 50, 0.5);
}

.po-spinner-input {
  background-color: rgba(79, 79, 79, 0.5);
  border: none;
  width: 42px;
  height: 20px;
  padding: 3px 4px;
  text-align: center;
  caret-color: auto;
}

.po-spinner-input:hover {
  background-color: rgba(92, 92, 92, 0.5);
}

.po-spinner-input:disabled {
  background-color: rgba(27, 27, 27, 0.5);
}

.animated .po-spinner-btn,
.animated .po-spinner-input {
  transition: 0.08s ease-in-out;
}

#playback-options .po-separator {
  margin: 0 -6px;
  height: 100%;
  display: flex;
  align-items: center;
}

#playback-options .po-separator::after {
  border: 0.5px rgba(134, 134, 134, 0.5) solid;
  height: 20px;
  content: " ";
}

.po-toggle {
  background-color: rgba(41, 41, 41, 0.5);
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  height: 20px;
  border-radius: 5px;
  align-items: center;
  position: relative;
}

.po-toggle-item {
  padding: 3px 6px;
}

.po-toggle-item:not(.active) {
  color: #888;
}

.po-toggle-item:not(.active):hover {
  color: white;
}

.po-toggle-highlight {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  pointer-events: none;
}

.po-checkbox {
  height: 20px;
  width: 20px;
  padding: 1px;
  border-radius: 2px;
}

.po-checkbox:hover {
  background: rgba(255, 255, 255, 0.2);
}

.po-checkbox:active {
  background: rgba(255, 255, 255, 0.1);
}

.animated .po-toggle-item,
.animated .po-checkbox {
  transition: 0.15s ease-in-out;
}

.animated .po-toggle-highlight {
  transition: 0.15s cubic-bezier(0.61, 0.04, 0.38, 1.02);
}

.po-collapse-container {
  position: relative;
}

#view-wrapper .po-collapse {
  position: absolute;
  left: 10px;
  height: 30px;
  width: 30px;

  box-shadow: none;
  transform: none;
  border: none;
  outline: none;
  filter: none;
  background-color: var(--bg-widget);
  border-radius: 0px 0px 15px 15px;
  padding: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

#playback-options + .po-collapse-container .po-collapse img {
  transform: scaleY(-1);
}

#playback-options.collapsed + .po-collapse-container .po-collapse img {
  transform: scaleY(1);
}

.animated .po-collapse,
.animated .po-collapse img {
  transition: 0.15s cubic-bezier(0.61, 0.04, 0.38, 1.02);
}

#playback-options.collapsed + .po-collapse-container .po-collapse:hover {
  height: 35px;
}

#playback-options + .po-collapse-container .po-collapse:hover {
  height: 25px;
}

.po-collapse:active {
  height: 30px;
}
